@import "primeflex/primeflex.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

/* ===============================
   Fuente institucional (Poppins)
   =============================== */
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Aplica la fuente global */
body {
  font-family: system-ui, "Segoe UI", Arial, sans-serif;
  /* puedes mantener aquí tus resets/colores globales */

  background-image: url('assets/img/imagen.png');
  background-repeat: repeat;
  
  background-size: auto; /* o cover/contain según lo que quieras */
  overflow: hidden; /* 👈 elimina la barra global */
  
}

